```html
{% extends 'base.html' %}

{% block title %}
{{ vehicle.name }}
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row">

        <div class="col-lg-6">

            <img src="{{ vehicle.image }}"
                 class="img-fluid rounded shadow"
                 alt="{{ vehicle.name }}">

        </div>

        <div class="col-lg-6">

            <h1>{{ vehicle.name }}</h1>

            <h2 class="text-warning">
                {{ vehicle.price }}
            </h2>

            <p class="mt-4">
                {{ vehicle.description }}
            </p>

            <a href="{% url 'contact' %}"
               class="btn btn-warning">
                Enquire Now
            </a>

            <a href="{% url 'fleet' %}"
               class="btn btn-dark">
                Back To Fleet
            </a>

        </div>

    </div>

</div>

{% endblock %}
```
